.pay {
  background-color: $gray-200;
  &-right {
    text-align: center;
  }
}
.form-pay {
  color: $black;
}
.credit-img img {
  max-width: 30px;
}
.form-cvv {
  background-image: url('../images/Mastercard.svg');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 30px 20px;
  padding: 0.75rem 4rem 0.75rem 1rem;
}
@include media-breakpoint-up(md) {
  .pay {
    background-color: $white;
    &-right {
      background-color: $gray-200;
      text-align: left;
    }
  }
  .form-pay {
    background-color: $gray-200;
    height: 100%;
    &-body {
      .money {
        font-size: 1.25rem;
      }
    }
  }
  .credit-img img {
    max-width: 50px;
  }
}
